<div class="events">
<div class="container">
<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="{{ site.baseurl}}/img/events/matthew.png">
    </div>
    <div class="content">
      <div class="header">Gottesdienst</div>
      <div class="meta">
        <a>Friedenskriche</a>
      </div>
      <div class="description">
        Der 11-Uhr Gottesdienst mit Predigt, Lobpreis und Gemeinschaft
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        um 11:00 Uhr
      </span>
      <span>
        <i class="user icon"></i>
        22.10.2017
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="{{ site.baseurl }}/img/events/molly.png">
    </div>
    <div class="content">
      <div class="header">Gebetsabend</div>
      <div class="meta">
        <span class="date">Friedenskirche</span>
      </div>
      <div class="description">
        Gemeinsam vor dem Herrn für Anliegen beten
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        um 19:00 Uhr
      </span>
      <span>
        <i class="user icon"></i>
        25.10.2017
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="{{ site.baseurl }}/img/events/elyse.png">
    </div>
    <div class="content">
      <div class="header">Matchless</div>
      <div class="meta">
        <a>Kalfri</a>
      </div>
      <div class="description">
        Der Wöchentliche Treff der Jugendgruppe
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        um 20:00 Uhr
      </span>
      <span>
        <i class="user icon"></i>
        27.10.2017
      </span>
    </div>
  </div>
</div>
</div>
<div class="events-down"></div>
</div>
