<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/ueber/">Über</a></li>
            <li><a href="{{ site.baseurl }}/contact">Kontakt</a></li>
            <li><a href="{{ site.baseurl }}/">FAQ</a></li>
            <li><a href="{{ site.baseurl }}/blog">Sitemap</a></li>
            <li><a href="{{ site.baseurl }}/impressum.html">Impressum</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Entwicklung von <a href="http://github.com/CHRINIMUE/FKW">Friedenskirche MM</a>. Alle Rechte vorbehalten</p>
      </div>
    </div>
  </div>
</footer>
