<style>
        body{
            margin: 0;
            padding: 0;
        }    
        #box1{
            height: 100vh;
            width: 100%;
            background-image: url(img/i1.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        #box2{
            height: 100vh;
            width: 100%;
            background-image: url(img/i2.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        #box3{
            height: 100vh;
            width: 100%;
            background-image: url(img/i3.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        #box4{
            height: 100vh;
            width: 100%;
            background-image: url(img/i1.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        #box5{
            height: 100vh;
            width: 100%;
            background-image: url(img/i2.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        #box6{
            height: 100vh;
            width: 100%;
            background-image: url(img/i3.jpg);
            background-size: cover;
            display: table;
            background-attachment: fixed;
        }
        h1{
            font-family: arial black;
            font-size: 50px;
            color:white;
            margin: 0px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    </style>

        <div id="box1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <h2>WE BELIEVE IN GREAT IDEAS</h2>
                        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <a href="#" class="btn btn-view-works">View Works</a>
                     </div>
                </div>
            </div>
        </div>
        <div id="box2">
            <h1>#Numero 2</h1>
        </div>
        <div id="box3">
            <h1>#Numero 3</h1>
        </div>
        <div id="box4">
            <h1>#Numero 4</h1>
        </div>
        <div id="box5">
            <h1>#Numero 5</h1>
        </div>
        <div id="box6">
            <h1>#Numero 6</h1>
        </div>

