  <div id="box-gottesdienste">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-6" id="gottesdienste-conf">
                  <h2>Gottesdienste</h2>
                  <p>Jeden Sonntag finden bei uns in der Friedenskirche Gottesdienste statt bei den Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
                  <p>Der erste Gottesdienst beginnt um 9:00 Uhr und endet um circa 10:30 Uhr.</p>
                  <p>Der zweite Gottesdiens fängt um 11:00 Uhr an und endet dann um circa 12:30</p>
                  <a href="{{ site.baseurl }}/" class="btn-primary">Mehr Infos</a>
              </div>
          </div>
      </div>
  </div>
