<div class="container">
	<section class="tiles">
		{% assign bereiche = site.data.bereiche %}
		{% for bereich in bereiche %}
		<article class="{{ bereich.style }}">
			<span class="image">
				<img src="{{ site.baseurl }}/img/bereiche_ubersicht/{{ bereich.img }}" alt="">
			</span>
			<a href="{{ site.baseurl }}/bereich/{{ bereich.link }}">
				<h2>{{ bereich.name }}</h2>
				<div class="content2">
					<p>{{ bereich.info }}</p>
				</div>
			</a>
		</article>
		{% endfor %}
	</section>
</div>
