<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="/img/pic01.jpg" alt=""></span>
						<div class="content">
							<h3>Integer vitae libero acrisus egestas placerat  sollicitudin</h3>
							<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
							<a href="#" class="btn-primary">More</a>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="/img/pic02.jpg" alt=""></span>
						<div class="content">
							<h3>Integer vitae libero acrisus egestas placerat  sollicitudin</h3>
							<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
              <a class="btn-primary" href="#">More</a>
						</div>
					</article>
				</div>
			</section>
