	<section id="one" class="wrapper style1">
			<div class="inner">
				<article class="feature left">
						<span class="image"><img src="/img/pic01.jpg" alt=""></span>
						<div class="box_content">
							<h3>Glaubensbekenntnis</h3>
							<p>Die Friedenskirche vertritt das im Rahmen der evangelischen Allianz anerkannte Glaubensbekenntnis und ist offen für Menschen aus allen Schichten der Bevölkerung, egal welchen Alters, Religion, Bildung, Hautfarbe, Sprache oder kulturellen Hintergrunds. </p>
							<a href="#" class="btn-primary">Mehr</a>
						</div>
				</article>
				<article class="feature right">
						<span class="image"><img src="/img/pic02.jpg" alt=""></span>
						<div class="box_content">
							<h3>Geschichte</h3>
							<p>Die Friedenskirche Memmingen e.V. entwickelte sich aus dem Zusammengehen der örtlichen Baptistengemeinde und der Pfingstgemeinde im Jahr 1997, die Geschichte der einzelnen Gemeinden reicht viele Jahre zurück.</p>
              <a class="btn-primary" href="#">Mehr</a>
						</div>
				</article>
				<article class="feature left">
					<span class="image"><img src="/img/pic01.jpg" alt=""></span>
					<div class="box_content">
						<h3>Struktur der Gemeinde</h3>
						<p>Unsere Gemeindeleitung besteht aus zwei hauptberuflichen Pastoren und 4 Ältesten, die durch verschiedene Diakone und weitere Leiter der einzelnen Dienste unterstützt werden. Diese Form der Gemeinde wird bereits im Neuen Testament umfangreich beschrieben. Gleiches gilt für die Art des Gemeindelebens.</p>
						<a class="btn-primary" href="aufbau.html">Mehr</a>
					</div>
				</article>
			</div>
	</section>
