<!DOCTYPE html>
  <html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% include about/top.html %}
    {% include zw_info.html %}
    <div class="content">
      <div class="container">
	       <div class="row">
		         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			            {{ content }}
		         </div>
	       </div>
       </div>
    </div>
    {% include about/section_boxes.html %}
    <!-- {% include about/section_boxes_style2.html %} -->
    {% include footer.html %}

    {% include js.html %}

    </body>
</html>
